*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.dark{
    background-color: black;
}
.main{
    text-align: center;
    width: 700px;
    padding: 1.5rem;
}
.main >*{
    margin: 1rem;    
}
.main.light{
    color: white;
}
.input-container{
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
    font-weight: bold;
    color: red;
}
input[type="checkbox"]{
    width: 20px;    
}
